service: serverless-python-story

plugins:
  - serverless-offline
  - serverless-python-requirements

custom:
  pythonRequirements:
    dockerizePip: true

# https://serverless.com/framework/docs/providers/aws/guide/
provider:
  name: aws
  stage: ${opt:stage, 'test'}
  runtime: python3.7
  memorySize: 128
  timeout: 10

functions:
  hello:
    handler: handler.hello
    events:
        - http:
            method: get
            path: hello
